section.exibirResultados{
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 0;

    &>h3{
        position:absolute;
        left:5%;
        color:rgb(255, 190, 68);
        font-weight: 300;
    }

    div{ 
        width: 100%;
        height: auto;
        display:flex;
        justify-content: space-between;
        flex-direction:row;
        flex-wrap: wrap;
      
    article{
        width:48%;
        min-width:400px;
        height:auto;
        padding: 18px;
        margin-top: 4%;
        background-color:#171717 ;
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        border: solid 2px transparent;
        --webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
        button{
            padding: 10px;
            color: white;
            border-radius:2px;
            margin: 3px 2px 0 0;
            cursor: pointer;
            a{
                text-decoration: none;
                color: white;
            }

            background-color: #312b2b;
            border: 1px solid rgba(204, 204, 204,0.2);
            &:hover{
                background-color: #423636;
            }
        }
         &:hover{
        background-color:rgba(19, 18, 18, 0.788);
            border: solid 2px rgba(255, 188, 55, 0.144);
        }

        @media screen and (min-width:200px) and (max-width:900px){
            &{
                width:100%;
                margin-top:40px;
            }
        }

        h2{
            font-size:20px;
            color:  #BCBCBC ;
        }
        h3{
            font-size: 1em;
            color: rgb(88, 88, 88);
            padding: 15px 0;
        }
        address{
            color: rgb(88, 88, 88); 
        }

        h2,
        h3,
        address{
            letter-spacing:0.01em;     
        }

        div{
        display:flex;
        justify-content: flex-start;
        flex-direction: row; 

        img{
            width:18px;
        }

        time,
        p{
          padding: 5px 15px;
          color:  #BCBCBC ;
          font-size: 0.9em;

        }
        }
    }
  }
}